body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.post{
  background: lightgray;
}
.top-buffer { margin-top:20px; }
.post:hover .admin-part{
  visibility:visible;
}
.post .admin-part{
  visibility:hidden;
}